<!-- add the margin to the bottom so that the content of the page is not hidden behind the navbar -->
<div class="container-fluid" style="margin-bottom:5%;">
  <header>
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <!--logo generated with https://www.shopify.com/tools/logo-maker -->
        <%= link_to(home_path) do %>
          <%= image_tag "logo.png", id: "logo" %>
        <% end %>

        <ul class="list-inline menu-bar">
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Blog", "#" %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
